* {
  padding: 0px;
  margin: 0px;
}
.nav {
  width: 100%;
  background-color: rgb(251, 188, 71);
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.nav div img {
  position: relative;
  width: 150px;
  height: 100px;
  border-radius: 20px 20px 20px 20px;
}
.nav div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav div h1 {
  text-transform: capitalize;
  font-size: 30px;
}
.nav ol {
  list-style-type: none;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  text-transform: capitalize;
  color: black;
  font-family: normal;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.nav i {
  font-size: 32px;
  position: relative;
  top: -10px;
}
.nav a {
  transition-property: text, background-color;
  transition-duration: 5s;
  transition-duration: 5s;
  padding: 7px;
  width: 10px;
  font-size: 20x;
}
a:hover {
  text-decoration: none;
  background-color: rgb(20, 13, 55);
  border-radius: 100%;
  color: #fff;
  padding: 10px;
}

.div6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.div7 img {
  width: 100%;
  height: 100%;
  border-radius: 50px 60px;
}
.div7 {
  width: 50%;
  height: inherit;
}
.div7 div {
  padding: 10px;
  width: 90%;
  height: 300px;
}
.div8 {
  width: 50%;
  height: 500px;
  padding: 2px;
  box-sizing: border-box;
  text-align: left;
}
.div8 div {
  display: flex;
  padding: 5px;
  margin: 5px;
  height: 120px;
  align-items: center;
}
.div8 div aside {
  width: 25%;
  height: inherit;
  background-color: gray;
  border-radius: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div8 div p {
  width: 70%;
  padding: 2px;
  margin-left: 20px;
}
.div8 main {
  position: relative;
  left: 50px;
  top: 20px;
  width: 90%;
  height: 50px;
  border: solid 2px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div8 main h1 {
  width: 25px;
  height: auto;
  background-color: rgb(220, 26, 26);
  border-radius: 100%;
  text-align: center;
}
.div40 {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  opacity: 0.9;
  display: flex;
}
.div40 main {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: solid red 2px;
}
.div40 aside {
  width: 50%;
  padding: 3px;
  border-right: solid red 2px;
  display: flex;
  align-items: center;
}
.div40 aside p {
  width: 100%;
  padding: 2px;
  text-align: center;
}

.div40 div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
